@charset "utf-8";

/*! Simple responsive column & width utilities, using mobile-first (device-up) principle. | MIT License */

// Variables.
@import "variables/_all";

// Mixins.
@import "mixins/_all";

/* general */
* {
	box-sizing: border-box;
}

.columns {
	display: flex;
	flex-wrap: wrap;

	> .column {

		&:last-child {
			margin-left: auto;
		}
	}
}

// --------------------
// Dimension oriented
// --------------------

/* from xs above (the same as all devices) */
@include setup-width();
@include setup-display();
@include setup-position();
@include setup-alignment();

/* from small above */
@include from-sm {
	@include setup-width(sm);
	@include setup-display(sm);
	@include setup-position(sm);
	@include setup-alignment(sm);
}

/* from medium above */
@include from-md {
	@include setup-width(md);
	@include setup-display(md);
	@include setup-position(md);
	@include setup-alignment(md);
}

/* from large above */
@include from-lg {
	@include setup-width(lg);
	@include setup-display(lg);
	@include setup-position(lg);
	@include setup-alignment(lg);
}

/* from extralarge above */
@include from-xl {
	@include setup-width(xl);
	@include setup-display(xl);
	@include setup-position(xl);
	@include setup-alignment(xl);
}
